@tailwind base;
@tailwind components;
@tailwind utilities;

html,
/* 앱 기반 화면 설정을 위한 초기 세팅*/
/* 세팅을 위해 https://viewportsizer.com/devices/ 사이트 참고
스마트폰 기준 제일 큰 화면과 작은 화면의 크기를 채용*/
body {
  height: 100vh;
  max-height: 1067px;

  overflow-x: hidden;
  overflow-y: auto;
  
  width: device-width;
  min-width: 320px;
  max-width: 480px;
  
  display: flex;
  margin: 0 auto;
  
  text-align: center;
  justify-content: center;
  
  background-color: #FEF1E8;
}
